body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 10000px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333;
}

.input-group {
    margin: 15px 0;
}

input[type="text"] {
    width: 250px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 15px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}